

.container {
	min-width: 600px;
	max-width: 1024px;
}

.navbar-header {
	background-color: #1ab394;
}

.navbar-collapse {
	background-color: #1ab394;
}

.navbar-brand img:nth-child(1) {
	position: absolute;
	top: 5px;
	width: 71px;
}

.navbar-brand img:nth-child(2) {
	position: absolute;
	top: 0px;
	width: 51px;
	margin-left: 81px;
}

.navbar-brand span:nth-child(3) {
	position: absolute;
	margin-top: 0;
	margin-left: 140px;
	top: 6px;
	font-size: 16px;
	font-weight: bold;
}

.navbar-brand span:nth-child(4) {
	position: absolute;
	margin-top: 0;
	margin-left: 140px;
	top: 23px;
	font-size: 14px;
}

#navbar ul li a {
	color: #fff;
}

#navbar ul li a:hover {
	background-color: #fff;
	color: #1ab394;
}

#navbar ul li a:active {
	color: #1ab394;
}

#navbar ul li.klh-active a {
	background-color: #fff;
	color: #1ab394;
}


/* dropdown */

#navbar ul li ul,
#navbar ul li ul li a {
	border: none;
	border-radius: 0;
}

#navbar ul li ul li a {
	background-color: #1ab394;
	color: #fff;
}


/* -------- */

.klh-content {
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer {
	background-color: #1ab394;
}

.footer {
	color: #fff;
}

.footer ul#klh-call-us {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer ul#klh-call-us li div:nth-child(1) {
	float: left;
	margin: 0 10px 10px 0;
}

.footer ul#klh-find-us {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer ul#klh-find-us li {
	float: left;
	margin-right: 10px;
}

.footer ul#klh-find-us li a {
	/*color: #1ab394;*/
	color: #fff;
}

.footer ul#klh-find-us li a:hover {
	/*color: #666;*/
	color: #f8ac59;
}

.footer .row .col-sm-4:nth-child(1) img:nth-child(1) {
	width: 71px;
	margin-right: 10px;
}

.footer .row .col-sm-4:nth-child(1) img:nth-child(2) {
	width: 51px;
}

.footer .row .col-sm-4:nth-child(1) span:nth-child(4) {
	font-size: 16px;
	font-weight: bold;
}

.footer .row .col-sm-4:nth-child(1) span:nth-child(6) {
	font-size: 14px;
}

.footer .row .col-sm-4:nth-child(1) span:nth-child(8) {
	font-size: 12px;
}

.footer .row .col-sm-4:nth-child(2) {
	margin-top: 10px;
}

.footer .row .col-sm-4:nth-child(3) {
	margin-top: 10px;
}

.klh-content {
	min-height: 800px;
}

.klh-middle-panel {
	position: fixed;
	top: 40%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	width: 600px;
}